<section form>
	<section row *ngFor="let field of this.dataFields; index as i">

		<ng-container [ngSwitch]="field.type">
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.ENUM" class="enum"
					[class.upwards]="this.autoDropdownDirection && ((i + ((field.options || []).length / 2)) >= this.dataFields.length)"
					[disabled]="this.disabled"
					[optionsOnly]="true"
					[options]="field.options || []"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>

			<commons-checkbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.BOOLEAN"
					[disabled]="this.disabled"
					[(checked)]="this.data[field.name]"
			>{{ field.description || field.name || '' }}</commons-checkbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.DATE" class="date"
					[type]="'date'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.DATETIME" class="datetime"
					[type]="'datetime-local'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.TIME" class="time"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.EMAIL" class="email"
					[type]="'email'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.URL" class="url"
					[type]="'url'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.STRINGARRAY" class="string"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper || 'Use commas to separate'"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<adamantine-data-fields-form-duration *ngSwitchCase="ECommonsAdamantineManagedModelFieldType.DURATION" class="enum"
					[upwards]="this.autoDropdownDirection && ((i + ((field.options || []).length / 2)) >= this.dataFields.length)"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(duration)]="this.data[field.name]"
			></adamantine-data-fields-form-duration>
			
			<!-- This is not ideal. Things like AM/PM may be displayed. Unfortunately there isn't a -->
			<commons-textbox *ngSwitchDefault class="string"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
		</ng-container>

	</section>
</section>
