<table commons-table>
	<thead commons-table-header>
		<tr commons-table-header-columns>
			<th commons-table-header-column
					[name]="'_name'"
					[width]="'2fr'"
			>name</th>
			<th commons-table-header-column *ngFor="let b of this.bs"
					[name]="b['name']"
					[width]="'1fr'"
			>
				{{ b['name'] }}
			</th>
		</tr>
	</thead>
	<tbody commons-table-body>
		<tr commons-table-body-row *ngFor="let row of this.page; index as ai">
			<td commons-table-body-cell>{{ row['name'] }}</td>
			<td commons-table-body-cell *ngFor="let b of this.bs; index as bi">
				<commons-checkbox
						[disabled]="!this.hasAccessToManage()"
						[checked]="this.pageSelecteds[ai][bi]"
						(checkedChange)="this.doCheckedChange(row, b, ai, bi);"
				></commons-checkbox>
			</td>
		</tr>
	</tbody>
	<tfoot commons-table-footer *ngIf="this.paginate !== undefined">
		<tr commons-table-footer-pagination
				[from]="this.from"
				[total]="this.as.length"
				[(rows)]="this.paginate"
				(rowsChange)="this.doPaginate();"
				(onFirst)="this.doFirst();"
				(onBack)="this.doBack();"
				(onForward)="this.doForward();"
				(onLast)="this.doLast();"
		></tr>
	</tfoot>
</table>
