<adamantine-managed-model-list
		[metadata]="this.metadata"
		[rows]="this.rows"
		[allowMove]="this.allowMove"
		[rowActions]="this.rowActions"
		[disabled]="this.isEditing"
		[selectable]="this.rowActions ? undefined : ECommonsTableSelectable.MULTIPLE"
		[hasAccessToManage]="this.hasAccessToManage()"
		[columnWidths]="this.columnWidths"
		[readOnlyRows]="this.readOnlyRows"
		[(paginate)]="this.paginate"
		[(selecteds)]="this.selecteds"
		(actionEdit)="this.doEdit($event);"
		(actidelete)="this.doDelete($event);"
		(actimoveUp)="this.doMove(ECommonsMoveDirection.UP, $event);"
		(actimoveDown)="this.doMove(ECommonsMoveDirection.DOWN, $event);"
		(actimoveTop)="this.doMove(ECommonsMoveDirection.TOP, $event);"
		(actimoveBottom)="this.doMove(ECommonsMoveDirection.BOTTOM, $event);"
></adamantine-managed-model-list>

<commons-pane class="no-padding bigger-top-gap">
	<aside>
		<button commons-button class="raised" *ngIf="this.hasAccessToManage()"
				[disabled]="this.selecteds.length > 0 || this.isEditing"
				(click)="this.doAdd();"
		>Add</button>
	
		<ng-container *ngIf="!this.rowActions && this.hasAccessToManage()">
			<button commons-button class="raised"
					[disabled]="this.hasReadOnlyRow() || this.selecteds.length !== 1 || this.isEditing"
					(click)="this.doEdit();"
			>Edit</button>
			<button commons-button class="icon"
					[title]="'Delete'"
					[disabled]="this.hasReadOnlyRow() || this.selecteds.length === 0 || this.isEditing"
					(click)="this.doDelete();"
			><i class="material-icons">delete</i></button>
			
			<ng-container *ngIf="this.allowMove && !this.rowActions">
				<button commons-button class="icon"
						[disabled]="this.selecteds.length === 0 || this.isEditing || this.isFirst()"
						(click)="this.doMove(ECommonsMoveDirection.TOP);"
				><i class="material-icons">vertical_align_top</i></button>
				<button commons-button class="icon"
						[disabled]="this.selecteds.length === 0 || this.isEditing || this.isFirst()"
						(click)="this.doMove(ECommonsMoveDirection.UP);"
				><i class="material-icons">arrow_upward</i></button>
				<button commons-button class="icon"
						[disabled]="this.selecteds.length === 0 || this.isEditing || this.isLast()"
						(click)="this.doMove(ECommonsMoveDirection.DOWN);"
				><i class="material-icons">arrow_downward</i></button>
				<button commons-button class="icon"
						[disabled]="this.selecteds.length === 0 || this.isEditing || this.isLast()"
						(click)="this.doMove(ECommonsMoveDirection.BOTTOM);"
				><i class="material-icons">vertical_align_bottom</i></button>
			</ng-container>
		</ng-container>

		<ng-container *ngFor="let action of this.customActions">
			<button commons-button *ngIf="!action.requireAccessToManage || this.hasAccessToManage()"
					[class]="action.class"
					[disabled]="(this.hasReadOnlyRow() && this.disableCustomActionsForReadOnlyRows) || this.isEditing || (action.selectable === undefined && this.selecteds.length > 0) || (action.selectable === ECommonsTableSelectable.SINGLE && this.selecteds.length !== 1) || (action.selectable === ECommonsTableSelectable.MULTIPLE && this.selecteds.length === 0)"
					(click)="this.doCustomAction(action);"
			>{{ action.caption }}</button>
		</ng-container>
	</aside>

	<adamantine-managed-model-form *ngIf="this.drawerEditor === undefined && this.isEditing && this.hasAccessToManage()"
			[metadata]="this.metadata"
			[row]="this.formData"
			[autoDropdownDirection]="this.autoDropdownDirection"
			[ucFieldNames]="this.ucFieldNames"
			(create)="this.doCreate($event);"
			(update)="this.doUpdate($event);"
			(cancel)="this.doCancel();"
	></adamantine-managed-model-form>
</commons-pane>

<commons-drawer *ngIf="this.drawerEditor !== undefined && this.hasAccessToManage()"
		[name]="this.internalDrawerName"
		[direction]="this.drawerEditor"
>
	<section drawercontainer
			[class.direction-top]="this.drawerEditor === ECommonsDrawerDirection.TOP"
			[class.direction-bottom]="this.drawerEditor === ECommonsDrawerDirection.BOTTOM"
			[class.direction-left]="this.drawerEditor === ECommonsDrawerDirection.LEFT"
			[class.direction-right]="this.drawerEditor === ECommonsDrawerDirection.RIGHT"
	>
		<commons-pane
				[title]="this.drawerTitle"
		>
			<adamantine-managed-model-form *ngIf="this.isEditing"
					[metadata]="this.metadata"
					[row]="this.formData"
					[autoDropdownDirection]="this.autoDropdownDirection"
					[ucFieldNames]="this.ucFieldNames"
					(create)="this.doCreate($event);"
					(update)="this.doUpdate($event);"
					(cancel)="this.doCancel();"
			></adamantine-managed-model-form>
		</commons-pane>
	</section>
</commons-drawer>
